* {
    margin: 0 auto;
    padding: o;
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Work Sans', sans-serif;
}

Main {
    width: 1600px;
}

/* Banner start */
header {}

.banner {
    background-image: url('images/banner/banner1.png');
    background-repeat: no-repeat;
    width: 1600px;
    height: 808px;
    display: flex;
    align-items: center;
    justify-content: right;
    text-align: right;
}

.banner-content {
    margin-right: 230px;
}

.banner-content h1 {
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 24px;
}

.banner-content p {
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 32px;
    color: #444343;
}

.btn-primary {
    background-color: #F15B22;
    width: 160px;
    height: 65px;
    border-radius: 5px;
    color: white;
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 20px;
    border: none;
}


/* last year section */
.last-year-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 130px;
}

.last-year-container img {
    padding-top: 130px;
    padding-left: 206px;
}

.last-year-content {
    margin-left: 87px;
}

.last-year-content ul {
    margin-top: 16px;
    list-style: none;
    line-height: 26px;
}

/* Common class */
.com-title {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 24px;
}

.com-title-white {
    color: white;
    font-weight: 700;
    font-size: 40px;
}

.description {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
}

.description-white {
    font-weight: 400;
    font-size: 16px;
    color: white;
    line-height: 26px;
}

/* My Plans Section */
.my-plan-container {
    text-align: center;
    width: 1140px;
}

.my-plan-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 86px;
    margin-top: 50px;
}

.my-plan-terget h3 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 30px;
}

.my-plan-terget p {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}


/* Gradient Section Start */
.gradient-container {
    margin-top: 130px;
    background-image: url('images/watch.png'), linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    border-radius: 8px;
    width: 1140px;
    height: 300px;
}

.gradient-content {
    text-align: left;
    margin-left: 64px;
}

.btn-white {
    width: 160px;
    height: 64px;
    background-color: white;
    border-radius: 5px;
    color: #F15B22;
    font-weight: 600;
    font-size: 20px;
    border: none;
}


/* Footer Section */
footer {
    width: 1400px;
    height: 580px;
    background-color: black;
    margin-top: 130px;
}

.footer-container {
    width: 1140px;
    display: flex;
    justify-content: center;
}

.contact {
    margin-top: 130px;
    margin-left: 0px;
}

.contact .com-title-white {
    margin-bottom: 16px;
}

.contact-icon {
    margin-top: 30px;
}

.contact-icon img {
    margin-right: 18px;
}

.subscribe {
    margin-top: 130px;
}

.subscribe h3 {
    font-weight: 600;
    font-size: 25px;
    color: white;
    margin-bottom: 30px;
}

.subscribe input {
    background-color: black;
    color: white;
    width: 325px;
    height: 64px;
    border: 1px solid white;
    border-radius: 10px;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 16px;
}

.btn-subscribe {
    width: 170px;
    height: 64px;
    color: #F15B22;
    background-color: white;
    border-radius: 5px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    margin-top: 16px;
}